#board
{
    /*layout*/
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;


    /*size*/
    width: 480px;    
    height: 480px;
    
    /*bordering*/
    border: 2px solid black;
    background: wheat;  
}